<h1 style="text-align: center;">Вас Вітає фінансовий менеджер</h1>
<p style="text-align: center;">
    За допомогою фінансового менеджера ви забудете про слова "а куди ділись гроші" ви зможете створити категорії а потім до них прив'язати операції і записувати кожно витрачену копійку
</p>
