<h1 style="text-align: center">Редагування інформації про транзакції</h1>

<%= render "form", operation: @operation %>

<br>

<div>
  <%= link_to "Back to operations", operations_path, class: "btn btn-primary" %>
</div>
